<div class="w3-container w3-padding-large" style="margin-bottom:32px;font-family:sans-serif">
    <mat-card class="example-card">
        <h4>My Experience</h4>
      <mat-card-content>
        <p>
          I am a developer with experience in building web applications using front-end technologies. 
          I have built applications using advanced Javascript frameworks such as Angular JS, Angular 2/7, React JS, Node JS, Passport JS, Chart JS, etc.. 
          Applications I have built include Enterprise, E-Commerce, Mortgage domains. I have good experience working with Responsive and Cross browser compilant applications following W3C Standards and ADA compilant.
          I am looking forward to work on dynamic and great user experience applications.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/contact">Contact Me</button>
        <button mat-button routerLink="/skills">View Skills</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <!-- End page content -->
  