.profile-container {
    color: #000!important;
    background-color: #fff;
    font-family: cursive !important;
}

.sidenav-container {
    color: white!important;
    background-color: #673ab7;
    font-family:Arial, Helvetica, sans-serif;
}

.nav-menu-active {
    color: white!important;
    background-color: #80808047;
    text-decoration: none !important;
}